.container {
    background-color: greenyellow;
}

.box {
    background-color: green;
    width: 250px;
    height: 250px;
    position: relative;
    /* animation-name: harry1; */
    animation-name: harry2;
    animation-duration: 8s;
    animation-iteration-count: 1;
    /* animation-fill-mode: alternate; */
    /* animation-timing-function: ease-in-out; */
    /* animation-delay: 3s; */
    /* animation-direction: reverse;  */

    /* These properties can be set using this shorthand */
    /* animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-fill-mode; */
    /* animation: harry 5s ease-in 1s 12 backwards; */

}