doctype html
html
  head
    title Kudo Dance Academy
    block scripts
    block style
      script(src='/jquery.js')
  body
    nav#navbar
        ul
            div#logo
                img(src="https://cdn.pixabay.com/photo/2018/04/28/15/24/silhouette-3357492_1280.png")
                | KDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    block content
    block foot
  footer#footer  | Copyright © 2022 KudoDanceAcademy.com. | All rights reserved.
       

      