//- index.pug
doctype html
html
  head
    title Kudo Dance cum Anime Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="https://cdn.pixabay.com/photo/2018/04/28/15/24/silhouette-3357492_1280.png")
                | KDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    
    section#intro
        div Welcome to Kudo's dance Academy.
        div.small Eat Dance Sleep Repeat and maybe some ANIME XD
      
    section#missionSection
       h2 Our Mission
       div.card#img1
        h3 Dance Perfection 
          div.card-box
            div.card-img
              img(src='https://www.kindpng.com/picc/m/0-3263_dance-black-and-white-png-dance-logo-black.png')

            div.card-content
              p This is the best dance academy to shape you to perfection.
       div.card
        h3 Dance in your way 
          div.card-box
            div.card-img
              img(src='https://i.ibb.co/HGYkK00/kisspng-hip-hop-dance-silhouette-clip-art-hip-hop-5abd0ba35cbe21-5213960015223387233799.png')

            div.card-content
              p Learn, Practice & Master in your own way!
       div.card
        h3 Expert's Guidance 
          div.card-box
            div.card-img
              img(src='https://upload.wikimedia.org/wikipedia/commons/8/8d/Ballerina_logo.png')

            div.card-content
              p Supportive Experts with years of experience.
    
    
    section#sponsorsSection
        h2 Our sponsors

    footer#footer
        | our footer here     
    script
      include ../static/index.js