//- index.pug
doctype html
html
  head
    title Kudo Dance cum Anime Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="https://cdn.pixabay.com/photo/2018/04/28/15/24/silhouette-3357492_1280.png")
                | KDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    
    section#intro
        div Welcome to Kudo's dance Academy.
        div.small Eat Dance Sleep Repeat and maybe some ANIME XD
      
    section#missionSection
       h2 Our Mission
       div.card#img1
        h3 Dance Perfection 
          div.card-box
            div.card-img
              img(src='https://www.kindpng.com/picc/m/0-3263_dance-black-and-white-png-dance-logo-black.png')

            div.card-content
              p This is the best dance academy to shape you to perfection.
       div.card
        h3 Dance in your way 
          div.card-box
            div.card-img
              img(src='https://i.ibb.co/HGYkK00/kisspng-hip-hop-dance-silhouette-clip-art-hip-hop-5abd0ba35cbe21-5213960015223387233799.png')

            div.card-content
              p Learn, Practice & Master in your own way!
       div.card
        h3 Expert's Guidance 
          div.card-box
            div.card-img
              img(src='https://upload.wikimedia.org/wikipedia/commons/8/8d/Ballerina_logo.png')

            div.card-content
              p Supportive Experts with years of experience.
        
        
    
    section#sponsorsSection
        h2 Our sponsors
        div#sponsors
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png", alt="sponsor image" class="spImage")
            img(src="https://cdn-icons-png.flaticon.com/512/732/732221.png", alt="sponsor image" class="spImage")
            img(src="https://cdn-icons-png.flaticon.com/512/5969/5969002.png", alt="sponsor image" class="spImage")
            img(src="http://store-images.s-microsoft.com/image/apps.20966.13599037783181022.b05b7adf-6b7a-44ae-9a70-9dc9370ea7e6.4cd88c60-6ff1-4b0f-aed6-8e2efa5629c1", alt="sponsor image" class="spImage")

    footer#footer
        | Copyright © 2022 KudoDanceAcademy.com. | All rights reserved
    script
      include ../static/index.js